@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-web-opt-bg {
    background-color: white;
}

.img-opt {
    height: 300px;
    width: 290px;
}

.opt-m-h {
    font-family: "Roboto";
    color: #1f2933;
    font-size: 32px;
    font-weight: bold;
}

.opt-para-des {
    font-family: "Roboto";
    color: #7b8794;
    font-size: 18px;
    font-weight: bold;
}